#baner {
    background-color: rgb(105, 88, 989);
    color: white;
    font-size: 150%;
    text-align: center;
    height: 80px;
}

#lewy {
    background-color: rgb(145, 127, 112);
    width: 30%;
    height: 600px;
    float: left;
}

#srodkowy {
    background-color: rgb(184, 168, 169);
    width: 50%;
    height: 600px;
    float: left;
}

#prawy {
    background-color: rgb(145, 127, 112);
    width: 20%;
    height: 600px;
    float: left;
}

h2 {
    color: white;
}

table, td {
    border: 1px solid black;
}
